
<p id="notice"><%= notice %></p>
<div class="abc">
<%= link_to "Sign Out",destroy_user_session_path,method: :delete %>
</div>
<div class="hello">
<h1>Welcome to NDPL
</h1>
</div>
<div class="image">
<img src="http://www.1800customercare.com/wp-content/uploads/2015/05/ndpl-logo.jpg"  width="100" height="100">
</div>
<br>
<h2>Name: <%=current_user.name%> </h2>
<br>
<h2>Department:<%=current_user.department%></h2>
<br>
  <%if(current_user.ismanager)%>
<h2> Manager</h2>
<%end%>
<br>
<h1>Requests-Table</h1>
<br>
<%if current_user.department == "IT" %>
<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Title</th>
      <th>Attachment</th>
      <th>name</th>
      <th>actual-date</th>
      <th>team-member</th>
      <th>status</th>
      <th>remark</th>
      <th colspan="3">Modifications</th>
    </tr>
  </thead>
                

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.department %></td>
        <td><%= request.title %></td>
        <td><%= request.attachment %></td>
        <% u=User.find(request.user_id) %>
        <td><%=u.name%></td>
        <td><%= request.it_actual_date %></td>
        <td><%= request.team_members %></td>
        <td><%=  request.it_status%></td>
        <td><%= request.remarks %></td>        
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<%else%> 
<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Title</th>
      <th>Description</th>
      <th>Attachment</th>
      <th>Expected date</th>
      <th>Key parameter</th>
      <th>Cycle time reduction</th>
      <th>Man power reduction</th>
      <th>Status</th>

      <th colspan="3">Modifications</th>
    </tr>
  </thead>
             

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.department %></td>
        <td><%= request.title %></td>
        <td><%= request.description %></td>
        <td><%= request.attachment %></td>
        <td><%= request.expected_date %></td>
        <td><%= request.key_parameter %></td>
        <td><%= request.cycle_time_reduction %></td>
        <td><%= request.man_power_reduction %></td>
        <td><%= request.status%></td>
      
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <%if !current_user.ismanager%>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <%if !current_user.ismanager%>
<%= link_to 'New Request', new_request_path %>
 <%end%>
<%end%>